/*********************
VARIABLES AND MIXINS
*********************/
h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1em; }

h4 {
  font-size: 0.5em; }

h5 {
  font-size: 0em; }

h6 {
  font-size: -0.5em; }

/*********************
BREAKPOINTS
*********************/
.mobile-menu {
  background-color: #373F51;
  position: fixed;
  z-index: 1;
  width: 100%;
  left: -100%; }
  .mobile-menu table {
    width: 100%; }
  .mobile-menu .checkbox {
    text-align: center;
    padding: 5px;
    font-size: 14px;
    color: #ffffff; }
    .mobile-menu .checkbox ul li:nth-child(3) a {
      color: #b0b2b5;
      border-bottom: 1px solid; }
    .mobile-menu .checkbox ul li:nth-child(3):before {
      content: "Sort by:";
      font-style: italic;
      padding: 0 20px; }
    .mobile-menu .checkbox ul li:nth-child(4) a {
      color: #0266b3;
      font-weight: bold; }
    .mobile-menu .checkbox ul li:nth-child(4):before {
      content: "or";
      padding-right: 20px;
      font-style: italic; }
    .mobile-menu .checkbox ul .select-list, .mobile-menu .checkbox ul .sort-list {
      display: inline;
      padding: 0 10px; }
      .mobile-menu .checkbox ul .select-list label, .mobile-menu .checkbox ul .sort-list label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 25px;
        font-weight: 500; }
      .mobile-menu .checkbox ul .select-list input[type=radio], .mobile-menu .checkbox ul .sort-list input[type=radio] {
        display: none; }
      .mobile-menu .checkbox ul .select-list label:before, .mobile-menu .checkbox ul .sort-list label:before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        position: absolute;
        left: 0;
        bottom: 1px;
        background-color: #fbfbfb;
        border-radius: 25px;
        border: 1px solid #b0b2b5; }
      .mobile-menu .checkbox ul .select-list input[type=radio]:checked + label:before, .mobile-menu .checkbox ul .sort-list input[type=radio]:checked + label:before {
        content: "\2022";
        color: #000000;
        font-size: 30px;
        text-align: center;
        line-height: 18px; }
  .mobile-menu .search {
    padding-bottom: 20px; }
    .mobile-menu .search input {
      height: 35px;
      padding: 0 20px;
      display: inline-block; }
    .mobile-menu .search .search-square {
      width: 75%;
      margin: 0 20px;
      background-color: #fbfbfb;
      border: 1px solid #efefef; }
      @media (max-width: 940px) {
        .mobile-menu .search .search-square {
          width: 80%; } }
    .mobile-menu .search .search-button {
      width: 19%;
      background-color: #ffffff;
      border: 1px solid #b0b2b5;
      color: #b0b2b5;
      font-weight: bolder; }
      @media (max-width: 1250px) {
        .mobile-menu .search .search-button {
          width: 17%; } }
      @media (max-width: 940px) {
        .mobile-menu .search .search-button {
          width: 80%; } }
      .mobile-menu .search .search-button:hover {
        cursor: pointer; }
