@import 'variables';


/*********************
HEADER
*********************/
.single-question {
  display: table;
  width: 100%;
  h1 {
    display: inline-block;
  }
  .fa {
    color: $blue;
    margin: 0 20px;
    font-size: 2em;
  }
  .logo {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
  }
  .last-action {
    @extend .logo;
    text-align: right;
    font-weight: bold;
    span {
      padding: 0 10px;
    }
    &:before {
      content: "Last time discussed";
      font-family: 'Lora', serif;
    }
    &:after {
      content: "day ago";
      font-family: 'Lora', serif;
    }
  }
}


/*********************
MAIN - CONTENT
*********************/

.single-question-content {
  .main {
  margin: 91px 30px 60px 30px;
  background-color: #fbfbfb;
  height: auto;
  @include breakpoint(smallDesktop) {
    margin: 91px 0 60px 0;
  }
  .main-content {
    box-shadow: none;
    background-color: $gray-background;
  .article {
    padding-bottom: 0px !important;
    background-color: $white;
    box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.3);
    border-bottom: none !important;
    margin-bottom: 50px;
  }
  .article-head {
    width: auto !important;
      img {
        border-radius: 50px;
      }
      h2 {
        display: inline-block;
      }
      span {
        display: inline-block;
        position: relative;
        padding-left: 150px;
        font-weight: bold;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
      }
    }
    .single-question-details {
      position: relative;
      .question {
            display: flex;
            &:before {
              content: "";
              background-color: #dff3fd;
              padding: 70px;
              color: $dark-gray;
            }
            .question-content {
              p {
                padding: 30px;
              }
            }
            .question-vote {
              padding: 30px;
              margin: 16px 0;
              display: flex;
              justify-content: center;
              align-items: center;
              span {
                display: block;
                text-align: center;
                font-family: 'Lora', serif;
                padding: 0 20px;
                font-weight: bold;
              }
              .arrows {
                display: block;
                i {
                  display: block;
                  color: $blue;
                  cursor: pointer;
                }
              }
            }
          }
      .answer-button {
        position: absolute;
        width: 100%;
        text-align: center;
        .answer-button-span {
          background: $white;
          border: 1px solid $black;
          padding: 10px 40px;
          font-weight: bold;
          top: -20px;
          position: relative;
          display: block;
          width: 165px;
          margin-left: auto;
          margin-right: auto;
          &:hover {
            @include transition (all, 0.3s, ease);
            background-color: $blue;
            color: $white;
            border-color: $blue;
            cursor: pointer;
          }
        }
      }
    }
    .peers {
      text-align: center;
      padding: 20px;
      font-size: 20px;
      font-weight: bold;
      span:nth-child(2) {
        font-family: 'Lora', serif;
      }
    }

    .answers-collection {
      margin: 10px 0 50px 0;
      .answer-main:nth-child(1) {
        margin-bottom: 0;
      }
      .answer-main:nth-child(2) {
        width: 80%;
        float: right;
        @include breakpoint(tablet) {
          width: 100%;
          float: none;
          border-left: 3px solid $dark-gray;
        }
      }
      .answer-main:nth-child(3) {
        display: inline-flex;
      }
    .answer-main {
      display: flex;
      align-items: center;
      position: relative;
      &:nth-of-type(1) {
        .answer-button {
          display: none;
        }
      }
      &:nth-of-type(2) {
        .answer-button {
          width: 75%;
          @include breakpoint(tablet) {
            width: 100%;
          }
        }
      }
      .answer-image {
        padding: 30px;
        img {
          border-radius: 50px;

        }
      }
      .answer-content {
        padding: 30px 10px;
        .center {
          display: flex;
          align-items: center;
          .answer-user {
            font-size: 20px;
            color: $blue;
            font-weight: 500;
            &:after {
              content: "COMMENTED IT";
              color: $dark-gray;
              padding-left: 20px;
              font-weight: 400;
              font-size: 15px;
            }
          }
          .answer-date {
            font-family: 'Lora', serif;
            &:before {
              content: "\f111";
              font-family: FontAwesome;
              font-size: 5px;
              color: $dark-gray;
              padding: 0 20px;
            }
          }
        }
      }
      .answer-upvotes {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        margin: 16px 0;
        span {
          display: block;
          text-align: center;
          font-family: 'Lora', serif;
          padding: 0 20px;
        }
        .arrows {
          display: block;
          i {
            display: block;
            color: $blue;
            cursor: pointer;
          }
        }
      }
      .answer-button {
        position: absolute;
        text-align: center;
        display: block;
        width: 100%;
        top: 154px;
        left: 0;
        z-index: 1;
        span {
          background: $white;
          border: 1px solid $black;
          padding: 10px 40px;
          font-weight: bold;
          display: block;
          width: 165px;
          margin-left: auto;
          margin-right: auto;
          &:hover {
            @include transition (all, 0.3s, ease);
            background-color: $blue;
            color: $white;
            border-color: $blue;
            cursor: pointer;
          }
        }
      }
    }
  }
  }
  }
}
