/*********************
VARIABLES AND MIXINS
*********************/
$start: 2em; 
@each $h in h1, h2, h3, h4, h5, h6{
    #{$h} { 
      font-size: $start;
      }

      $start: $start - 0.5;
  }

/*********************
BREAKPOINTS
*********************/

 @mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 50em) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }

  }
}


/*********************
STYLES
*********************/
body {
  margin: 0;
  padding: 0;
  background-color: #ffe1ad;
  font-family: 'Montserrat', sans-serif;
}
a {
  color: inherit;
}
/*********************
header
*********************/
header {
  min-height: 100px;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
    .navigation {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
      .questions {
        display: inline-block;
        h1 {
          display: inline-block;
        }
        .fa {
          color: #0266b3;
          margin: 0 20px;
          font-size: 2em;
        }
      }
      .checkbox {
        display: inline-block;
      }
  }
}

