@import 'modal';
@import 'variables';
@import 'singleQuestions';
/*********************
STYLES
*********************/
body {
  margin: 0;
  padding: 0;
  background-color: #ffe1ad;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  height: 100%;
}
html {
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  @include breakpoint(smallDesktop) {
    max-width: 100%;
  }
}

.ui-widget-content {
    border: 1px solid #ddd;
    background: #eee url("images/ui-bg_highlight-soft_100_eeeeee_1x100.png") 50% top repeat-x;
    color: #333;
    z-index: 999 !important;
    position: fixed !important;
}


/*********************
header
*********************/
header {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0px 0 5px 0 rgba(0,0,0,0.2);
  z-index: 1;
    .navigation {
      @include breakpoint(smallDesktop) {
        padding: 0 30px;
      }
      .questions {
        display: inline-block;
        h1 {
          display: inline-block;
          margin: 40px 0 20px 0;
        }
        .fa {
          color: $blue;
          margin: 0 20px;
          font-size: 2em;
        }
      }
      .checkbox {
        height: 100px;
        display: table;
        float: right;
        ul {
          display: table-cell;
          text-align: center;
          vertical-align: bottom;
          padding-bottom: 20px;
          li:nth-child(3) a {
            color: $dark-gray;
            border-bottom: 1px solid;
          }
          li:nth-child(3):before {
            content: "Sort by:";
            font-style: italic;
            padding: 0 20px;
          }
          li:nth-child(4) a {
            color: $blue;
            font-weight: bold;
          }
          li:nth-child(4):before {
            content: "or";
            padding-right: 20px;
            font-style: italic;
          }
          .select-list {
            display: inline;
            padding: 0 10px;
            label {
                display: inline-block;
                cursor: pointer;
                position: relative;
                padding-left: 25px;
                font-weight: 500;
            }
              input[type=radio] {
                display: none;
            }
              label:before {
                  content: "";
                  display: inline-block;

                  width: 16px;
                  height: 16px;
                  margin-right: 10px;
                  position: absolute;
                  left: 0;
                  bottom: 1px;
                  background-color: #fbfbfb;
                  border-radius: 25px;
                  border: 1px solid $dark-gray;
              }
              input[type=radio]:checked + label:before {
                  content: "\2022";
                  color: #000000;
                  font-size: 30px;
                  text-align: center;
                  line-height: 18px;
              }
          }
          .sort-list {
            @extend .select-list;
          }
        }
      }
  }
  .search {
    padding-bottom: 20px;
    input {
      height: 35px;
      padding: 0 20px;
      display: inline-block;
    }
    .search-square {
      width: 75%;
      margin-right: 20px;
      background-color: #fbfbfb;
      border: 1px solid #efefef;
    }
    .search-button {
      width: 19%;
      background-color: #ffffff;
      border: 1px solid $dark-gray;
      color: $dark-gray;
      font-weight: bolder;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
/*********************
//header
*********************/

/*********************
main content
*********************/

.main {
      margin: 157px 30px 60px 30px;
      background-color: #fbfbfb;
      height: auto;
      @include breakpoint(smallDesktop) {
        margin: 157px 0 60px 0;
      }
      .main-content {
        background-color: #ffffff;
        height: 100%;
        box-shadow: 1px -3px 5px 0px rgba(0,0,0,0.3);
        .article {
          padding-bottom: 50px;
          border-bottom: 1px solid $dark-gray;
          .article-head {
            background-color: #dff3fd;
            display: flex;
            padding: 30px;
            width: 70%;
            @include breakpoint(tablet) {
              width: auto;
            }
            .profile-btn {
              cursor: pointer;
              img {
                @include breakpoint(smallBreak) {
                  width: 80px;
                  height: 80px;
                }
              }
            }
            .users {
              border-radius: 50px;
            }
            .article-details {
              padding-left: 40px;
              .author-name {
                color: $blue;
                font-weight: bold;
                font-weight: 500;
                font-size: 20px;
                &:after {
                  content: "IS ASKING:";
                  color: $dark-gray;
                  padding-left: 20px;
                  font-weight: 400;
                  font-size: 15px;
                }
              }
              .article-header {
                color: $blue;
                font-family: 'Lora', serif;
                h2 {
                @include breakpoint(smallBreak) {
                  font-size: 20px;
                }
              }
              }
            }
          }

          .article-comments {
            display: inline-flex;
            width: 75%;
            @include breakpoint(phablet) {
              width: 60%;
            }
            &:before {
              content: "ASKED";
              max-width: 6%;
              background-color: #dff3fd;
              padding: 20px;
              display: flex;
              justify-content: center;
              align-content: center;
              align-items: flex-end;
              color: $dark-gray;
              @include breakpoint(smallBreak) {
                display: none;
              }
            }
            .activities {
            margin: 40px 0 0 14px;
            padding: 24px;
            background-color: #ffffff;
            min-width: 100px;
            @include breakpoint(smallBreak) {
              background-color: $light-gray;
              margin: 2px 0 0 2px;
            }
            .activities-counter {
              text-align: center;
              color: #000000;
              font-size: 20px;
            }
            .activities-span {
              text-align: center;
              display: block;
              position: relative;
              padding-top: 90px;
              font-family: 'Lora', serif;
              &:after {
                content: "\f111";
                font-family: FontAwesome;
                padding-top: 16px;
                position: absolute;
                display: block;
                width: 100%;
                color: $dark-gray;
              }
            }
          }
            .article-users {
              margin: 40px 0px 0 14px;
              padding: 24px;
              background-color: $light-gray;
              @include breakpoint(smallBreak) {
                margin: 2px 0 0 2px;
              }
              img {
                border-radius: 50px;
                @include breakpoint(smallBreak){
                  width: 80px;
                  height: 80px;
                  display: block;
                  margin-left: auto;
                  margin-right: auto;
                }
              }
              span {
                display: block;
                text-align: center;
                padding-top: 60px;
                position: relative;
                color: $dark-gray;
                @include breakpoint(smallBreak){
                  padding-top: 82px;
                }
                &:after {
                  content: "\f111";
                  font-family: FontAwesome;
                  padding-top: 16px;
                  position: absolute;
                  display: block;
                  width: 100%;
                  color: $dark-gray;
                }
                &:before {
                  content: "";
                  border-top: 1px solid $dark-gray;
                  width: 100%;
                  display: block;
                  padding-bottom: 10px;
                }
              }
            }
          }
          .stats {
            display: block;
            float: right;
            width: 25%;
            @include breakpoint(tablet) {
              margin-top: 15px;
            }
            @include breakpoint(phablet) {
              width: 40%;
            }
            p {
              display: inline-block;
            }
            .stats-details {
              .stats-counter {
                padding-left: 40px;
                font-size: 20px;
                @include breakpoint(smallDesktop) {
                  font-size: 17px;
                }
                @include breakpoint(tablet) {
                  padding-left: 0;
                }
              }
              .stats-description {
                font-size: 20px;
                padding: 20px;
                font-family: 'Lora', serif;
                @include breakpoint(smallDesktop) {
                  font-size: 17px;
                }
                @include breakpoint(tablet) {
                  padding: 18px;
                }
                @include breakpoint(phablet) {
                  padding: 10px;
                }
              }
            }
          }
        }
        .load h3 {
          padding: 40px;
          color: red;
        }
      }
}

.article-main {
  div:nth-of-type(-n+2){
    .article-comments {
      @include breakpoint(smallDesktop) {
          div.article-users:last-child {
            display: none;
          }
      }
      @include breakpoint(tablet) {
          div.article-users:nth-child(6) {
            display: none;
          }
      }
    }
  }
  @include breakpoint(phablet) {
      div.article-users:nth-child(4) {
        display: none;
      }
  }
}
