/*********************
VARIABLES AND MIXINS
*********************/
$blue: #0266b3;
$light-blue: #dff3fd;
$dark-gray: #b0b2b5;
$light-gray: #eeeeee;
$gray-background: #fbfbfb;
$white: #ffffff;
$black: #000000;


$start: 2em;
@each $h in h1, h2, h3, h4, h5, h6{
    #{$h} {
      font-size: $start;
      }
      $start: $start - 0.5;
  }

@mixin box-shadow($horizontal, $vertical, $blur, $spread, $color, $inset:"") {

        -webkit-box-shadow:$horizontal $vertical $blur $spread $color #{$inset};
        -moz-box-shadow:$horizontal $vertical $blur $spread $color #{$inset};
        box-shadow:$horizontal $vertical $blur $spread $color #{$inset};
  }

  @mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
      -webkit-transition: $what $time $how;
      -moz-transition:    $what $time $how;
      -ms-transition:     $what $time $how;
      -o-transition:      $what $time $how;
      transition:         $what $time $how;
  }

  @mixin rotate($degrees) {
   -webkit-transform: rotate($degrees);
   -moz-transform: rotate($degrees);
   -ms-transform: rotate($degrees);
   -o-transform: rotate($degrees);
   transform: rotate($degrees);
}

/*********************
BREAKPOINTS
*********************/

 @mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 50em) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }

  }
}
